<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div>
      <%if (!username) {%>
        <form method="POST" action="/register">
          <label for="loginform">Register Here: </label>
          <input type="text" name="username" placeholder="enter username">
          <input type="text" name="email" placeholder="enter email">
          <input type="text" name="password" placeholder="enter password">
          <button>Register</button>
        </form>
        <form style="display: inline; float: right; " method="POST" id="loginform" action="/login">
          <label for="loginform">Already Registered? Sign in:</label>
          <input type="text" name="username" placeholder="username">
          <input type="password" name="password" placeholder="password">
          <button>Sign In</button><br>
        </form>
      <%}%>
      <%if (username) {%>
        <form method="POST" action="/logout/<%= username%>">
          <div style="display: inline">Currently Logged In As: <%= username %></div>
          <button style="display: inline;">Sign Out</button>
        </form>
      <%}%>
    </div>
  </nav>
</header>